<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Template Page" />
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>

    <div class="container">
        <h1>User SMS Data</h1>
        <h3>{{phone}}</h3>

    </div>
    <div>
        <h2>Data</h2>
        <br>
        <b>Keywords:</b>{{keywords}}
        <br>
        <br>
        <br>
        <b>smsText:</b>{{text}}
        <br>
        <br>
        <br>
        <b>ID:</b>
        <a href="http://localhost:3000/smsIDData/{{id}}" target="_blank">{{id}}</a>
        <br>
        <br>
        <br>
    </div>

    <script>
    </script>

</body>

</html>